body {
    background-color:lightcyan;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    height: 50%;
    width: 25%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.pad{
    height: 50%;
    width: 50%;
}